<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a th:href="@{/admin/new}">
                <button class="btn btn-outline-dark btn-lg">
                    Add New User
                </button>
            </a>
        </li>
        <li class="nav-item" th:insert="~{parts/logout_button.html}">
        </li>
    </ul>
</div>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Roles</th>
        <th>Update</th>
        <th>Remove</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.roles}"></td>
        <td>
            <a class="ui-button" th:href="@{admin/edit/{id}(id=${user.id})}">
                <button class="btn btn-outline-dark">
                    Edit
                </button>
            </a>
        </td>
        <td>
            <form method="get" th:action="@{admin/delete}">
                <button class="btn btn-outline-dark" th:name="id" th:value="${user.id}" type="submit" value="delete">
                    Delete
                </button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>